
.item1 { grid-area: challenge; }
.item2 { grid-area: solution; }
.item3 { grid-area: bilde1; }
.item4 { grid-area: tekst1; }
.item5 { grid-area: bilde2; }
.item6 { grid-area: tekst2; }
.item7 { grid-area: bilde3; }
.item8 { grid-area: tekst3; }

.grid-container-read {
  display: grid;
  grid-template-areas:
    'header header header header header'
    'solution solution solution solution'
    'bilde1 bilde1 tekst1 tekst1'
    'bilde2 bilde2 tekst2 tekst2'
    'bilde3 bilde3 tekst3 tekst3';
  grid-gap:10px;
  background-color: lightgrey;
  padding: 10px;
  margin-top: 50%;
}

.grid-container-read > div {
  text-align: center;
  padding: 50px 0;
  font-size: 30px;
}
