/* #2a5547 #d3a992 #f3f2f1 #e0c7b8 */
/* ddbea9 */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
}

html, body {
 height:100%;
 padding:0;
 margin:0;
 font-family: Arial;
}


html{
scroll-behavior: smooth;
}

.indexB{
color: #2a5547;
}

a{
  text-decoration: none;
}

body{
  text-align: center;
  overflow: scroll;
  background-color: #f3f2f1;
}

/*NAVBAR OG READ INNHOLD*/

header{
  background-color: #f3f2f1;
  width: 100%;
  height: 15%;
  border-bottom: solid 2px #2a5547;
}

#intro{
  width: 100%;
  height: 85%;
  display: table;
}

#introtext{
  display: table-cell;
  vertical-align: middle;
  color: #2a5547;
  letter-spacing: 2px;
  font-size: 3.5vw;
}
#readinnhold{
  width: 100%;
  background-color: white;
}

.readinnholdchild{
  padding-top: 5%;
  padding-bottom: 5%;
  margin: auto;
  width: 60%;
}

.readinnholdtittel{
  letter-spacing: 1.8px;
  line-height: 1.5;
 padding-bottom: 2%;
text-align: center;
font-size: 180%;

}

.readinnholdtekst{
  letter-spacing: 1.8px;
  line-height: 1.5;
  text-align: left;
}

.navwrapper{
  width: 100%;
  height: 100%;
}

.navlogo{
  display: table;
  float: left;
  width: 30%;
  height: 100%;
  text-align: middle;
}

.navlogo > a{
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-size: 2.3vw;
  font-family: Arial;
  font-weight: 700;
  letter-spacing: 2px;
  color: #234339;
}

nav{
  float: right;
  height: 100%;
  width: 30%;
  text-align: center;
  display: table;
}

nav > a{
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  font-family: Arial;
  font-size: 1.7vw;
  color: #234339;
}

nav > a:hover{
  border-bottom:  solid 3px #2a5547;
}

#test{
  width: 100%;
  height: 200px;
  background-color: white;
}

/*SLUTT NAVBAR OG READ INNHOLD*/

/*INDEX HEADER FORSIDE*/

.indexBilde {
  width: 80%;
}

.header {
background: #f3f2f1;
color: black;
position: relative;
}

.header .header-content {
display: flex;
padding-top: 6%;
padding-bottom:6%;
}

.header .header-content .header-section {
flex: 1;
padding:25px;
text-align: center;
}

.headerinfo{
text-align: left;
display: block;
margin-left: auto;
margin-right: auto;
width:80%;
font-size: 30px;
margin:5%;
}

.headerinfo2{
text-align: left;
display: block;
margin-left: auto;
margin-right: auto;
width:80%;
font-size: 25px;
margin:5%;
padding-top:4%;
}


.headertxt{
margin-top: 9%;
margin-left: 12%;
}

/*SLUTT INDEX HEADER FORSIDE*/


/*FORSIDE Diagram grid*/
.diagram {
background: #f3f2f1;
color: black;
height: 550px;
position: relative;
}

.diagram .diagram-content {
height: 550px;
display: flex;
}

.diagram .diagram-content .diagram-section {
flex: 1;
padding: 25px;
text-align: center;
}

.diaimage {
margin-top: 25px;
width: 80%;
}


.diatxt {
width: 70%;
font-size: 18px;
text-align: left;
display: block;
margin-left: auto;
margin-right: auto;
letter-spacing: 1.8px;
line-height:1.6;
padding: 2%;
}

.info{
background: #e0c7b8;
height:auto;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 7%;
padding-bottom: 3%;

}
.info-top {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 40px;
letter-spacing:1.8px;
line-height: 1.6;
}

.info-text{
width: 70%;
font-size: 22px;
display: block;
margin-left: auto;
margin-right: auto;
text-align: left;
padding-top: 2%;
padding-bottom: 5%;
line-height:1.6;
letter-spacing:1.8px;
}
/*SLUTT FORSIDE Diagram grid*/

/*READ*/
.app {
background: #cce5dd  /*#abd3c6*/  /*#79b9a5*/;
color: black;
position: relative;

}

.app .app-content {
display: flex;
padding-top: 6%;
padding-bottom: 6%;
border-bottom: 2px solid white;
}

.app .app-content .app-section {
flex: 1;
padding: 0px;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;

}

.apphead{
font-size: 35px;
line-height: 1.6;
letter-spacing:1.8px;
margin-top: 10%;
margin-bottom: 5%;
text-align: left;
display: block;
margin-left: 10%;
margin-right: 10%;
}

.apptxt{
font-size: 20px;
line-height: 1.6;
letter-spacing:1.8px;
text-align:left;
margin-left: 10%;
margin-right: 10%;
}

.appimage{
width: 38%;
margin-top: 50px;
margin-bottom: 50px;
}

.fnhead{
font-size: 23px;
line-height: 1.6;
letter-spacing:1.8px;
margin-top: 6%;
margin-bottom: 5%;
text-align: left;
display: block;
margin-left: 10%;
}

.fntxt{
font-size: 18px;
line-height: 1.6;
letter-spacing:1.8px;
text-align:left;
margin-left: 10%;
}

.fn {
background: /*#d3a992*/ #cce5dd /*#e0c7b8*/  /*#abd3c6*/ /*#79b9a5*/;
color: black;
position: relative;
}

.fn .fn-content{
display: flex;
}

.fn .fn-content .fn-section{
flex: 1;
padding: 25px;
text-align: center;
}

.link4 {
background-color: #2a5547;
 color: white;
 font: bold 15px Arial;
 text-decoration: none;
 display: inline-block;
 padding-top: 1rem;
 padding-right: 2rem;
 padding-bottom: 1rem;
 padding-left: 2rem;
 border-radius: 300px;
 margin: 0 0 0;
 text-align: middle;
 margin-top: 23%;
 display: block;
 margin-left: auto;
 margin-right: auto;
 }

.solution {
background: #e0c7b8;
color: #262626;
position: relative;
}
.solution .solution-content{
display:flex;
}
.solution .solution-content .solution-section{
flex: 1;
padding: 15%;
padding-top: 5%;
padding-bottom: 5%;
text-align: left;
vertical-align: middle;
font-size: 20px;
line-height: 2;
  font-family: Arial;
}
/*SLUTT READ*/


/*LISTEN*/
.lydtxt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid black;
  width: 40%;
  text-align: left;
  font-family: Arial;
  color: #234339;
  padding: 25px;
  letter-spacing: 1.8px;
  line-height: 1.6;
}

.understrek {
  width: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* SLUTT LISTEN*/

/*WATCH*/

.overskriftW {
  text-align: center;
  font-family: Arial;
  letter-spacing: 3px;
  color:#234339;
  padding-top: 40px;
  font-size: 40px;
}

.overskriftWU {
  text-align: center;
  font-family: Arial;
  letter-spacing: 3px;
  color:#234339;
  padding: 20px;
  font-size: 28px;
}

.video {
  width: 80%;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;

}
/*SLUTT WATCH*/

/* FOOTER */
.page-wrapper{
  min-height: 70%;
}
.footer {
background: #2a5547;
color: white;
height: 220px;
position: relative;
}

.footer .footer-content {
height: 190px;
text-align: center;
}

.link{
  font: bold 15px Arial;
  text-decoration: none;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  border-radius: 300px;
}

.link1{
background-color: #e0c7b8;
color: #262626;
margin-top: 35px;
}

.footertxt {
  letter-spacing: 2px;
padding-top: 15px;
font-size: 30px;
}

.footer .footer-bottom {
background: #2a5547;
color: white;
height: 30px;
width: 100%;
text-align: center;
position: absolute;
bottom: 0px;
left: 0px;
padding-top: 20px;
}
/* SLUTT FOOTER */


/*scroll up btn*/
.gotopbtn {
position: fixed;
width: 50px;
height: 50px;
background: #d3a992;
text-decoration: none;
text-align: center;
line-height:60px;
color: white;
font-size: 35px;
font-weight: bold;
bottom: 3%;
right: 3%;
z-index: 1;
border-top-left-radius: 300px;
border-top-right-radius: 300px;
border-bottom-right-radius: 300px;
border-bottom-left-radius: 300px;
}
/*SLUTT scroll up btn*/

/*SOURCES ENES*/
.overskriftSR {
  text-align: center;
  font-family: Arial;
  letter-spacing: 3px;
  color:#234339;
  font-size: 40px;
}
.understrekSR {
  width: 50%;
  display: block;
  margin: auto;
  margin-bottom: 2%;
}

.kilder {
  display: inline-block;
  margin: auto;
  width: 60%;
  background-color:#e0c7b8;
  margin: 2%;
}



.kilder > hr {
  width: 95%;
  margin: auto;
  border: solid 0.2px #897A71;
}

.tittelKB {
  font-size: 25px;
  width: 90%;
  padding: 0.5%;
  margin: auto;
  color: #3B3531;
  text-align: left;
}

.kildelink{
  width: 90%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.linkicon {
  float: left;
  width: 3%;
}

.linkicon > img {
  width: 100%;
}

.linktekst{
  color: #3B3531;
  width: 95%;
  margin-left: 2%;
  font-size: 17px;
  text-align: left;
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kildeinfo{
  width: 90%;
  margin: auto;
  padding-bottom: 3%;
}

.kildeauthor , .kildedato{
  position: relative;
  width: 50%;
  color: #3B3531;
  font-family: Arial;
  letter-spacing: 1px;
  font-size: 16px;
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kildeauthor {
  float: left;
  text-align: left;
}

.kildedato{
  float: right;
  text-align: right;
}
/* SLUTT SOURCES ENES */

/*MEDIA QUERIES*/
@media screen and (max-width: 1200px) {
  .kilder{
    width: 65%;
  }
  .tittelKB {
    font-size: 22px;
  }
  .kildeauthor , .kildedato{
    font-size: 14px;
  }
  .linktekst{
    font-size: 17px;
  }
}
@media screen and (max-width: 1000px) {
  .kilder{
    width: 70%;
  }
  .tittelKB {
    font-size: 20px;
  }
  .kildeauthor , .kildedato{
    font-size: 12px;
  }
  .linktekst{
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  .kilder{
    width: 80%;
  }
  .tittelKB {
    font-size: 18px;
  }
  .linktekst{
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  .kilder{
    width: 90%;
  }
  .tittelKB {
    font-size: 16px;
  }
  .linktekst{
    font-size: 14px;
  }
}

@media screen and (max-height: 600px) {
  header{
    height: 20%;
  }  
}
@media screen and (max-height: 400px) {
  header{
    height: 30%;
  }  
}
@media screen and (max-height: 200px) {
  header{
    height: 40%;
  }  
}
@media screen and (max-height: 100px) {
  header{
    height: 50%;
  }  
}

@media screen and (max-width: 1050px) {
  nav{
    width: 40%;
  }

  nav > a{
    font-size: 3vw;
  }

  .navlogo > a{
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 800px) {
  nav{
    width: 50%;
  }
  nav > a{
    font-size: 3.5vw;
  }
  .navlogo > a{
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 600px) {
  nav{
    width: 60%;
  }
  nav > a{
    font-size: 4.2vw;
  }
  .navlogo > a{
    font-size: 5vw;
  }
}


@media only screen and (max-width: 934px) {
  .info-top {
    font-size: 30px;
    font-weight: bold;
  }
  .info-text {
    font-size: 17px;
  }

  .diatxt {
    font-size: 17px;
  }

  .indexBilde {
  width: 90%;
}

  .header {
height: auto;
}

.header .header-content {
height: auto;
flex-direction: column;
}

.headerinfo {
  font-size: 30px;
}

.diagram {
height: auto;
}

.diaimage {
  width: 100%;
}

.diagram .diagram-content {
height: auto;
flex-direction: column;
}

.fn {
height: auto;
}

.fn .fn-content {
height: auto;
flex-direction: column;
}

.fn .fn-content .sdg12{
margin-bottom: 60px;
}
.link4 {
  margin-top: 20%;
}
.app {
height: auto;
}

.app .app-content {
height: auto;
flex-direction: column;
}
.appimage{
width: 70%;
}
.app .app-content .app-section {
    padding: 25px;
    
}
.apptxt {
  font-size: 18px;
}
.overskriftW {
  font-size: 25px;
}
.overskriftWU {
  font-size: 20px;
}
.lydtxt {
  width: 80%;
}

audio {
  width: 250px;
}

}

@media only screen and (min-width: 1024px) and (max-height: 1366px)
    and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {

.link4 {
 margin-top: 50%;
}
.indexBilde {
  width: 90%;
}
}
/*SLUTT MEDIA QUERIES*/