/* #2a5547 #d3a992 #f3f2f1 #e0c7b8 */
/* ddbea9 */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
  overflow: scroll;
  background-color: #f3f2f1;
}
.wrapper{
  width: 1170px;
  margin: 0 auto;
}
header{
  height: 100px;
  background:  #2a5547;
  width: 100%;
  z-index: 12;
  position: relative;
}
.logo{
  width: 30%;
  float: left;
  line-height: 100px;
  padding: auto;
}
.logo a{
  text-decoration: none;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 4px;
  color: white;
  margin-left: -65%;
}
nav{
  float: right;
  line-height: 100px;
}
nav a{
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  margin: 0 12px;
  color: white;
  display: inline-block;
  /* margin-bottom: -20px; */
  letter-spacing: 2px;
}
.nav_link{
  margin-left: 30px;
}
.bannerValg{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100px;
}
.bannerArea{
  float: none;
  width: 100%;
  height: 100%;
  position: relative;
  top: 100px;
}
.bannerArea h2{
  padding-top: 2%;
  font-size: 70px;
  font-family: Arial;
  color: #262626;
}
.bannerArea p{
  padding-top: 1%;
  font-size: 28px;
  font-family: Arial;
  color: #262626;

}
.content-area{
  float: none;
  width: 100%;
  position: relative;
  top: 200px;
}
.content-area h2{
  font-family: Arial;
  padding-top: 20px;
  font-size: 30px;
  margin: 0;
}
.content-area p{
  padding: 2% 0;
  font-family: Arial;
  line-height: 25px;
  background-color: #f3f2f1;
}

/*prototype bilder og tekst*/
.prototype {
  width: 30%;
  margin-top: 120px;
}


/*FN-section*/

.fn {
background: #2a5547;
color: #f3f2f1;
height: 250px;
position: relative;
}

.fn .fn-content{
display:flex;
height: 250px;
}

.fn .fn-content .fn-section{
flex: 1;
padding: 25px;
text-align: center;
}

/* FOOTER */
.footer {
background: #2a5547;
color: white;
height: 200px;
position: relative;
}

.footer .footer-content {
height: 170px;
display: flex;
}

.footer .footer-content .footer-section {
flex: 1;
text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-read {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  background-color: #f2f2f2;
  padding: 10px;
}

.grid-read > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
